:root {
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --btn-txt-cl: #ffffff;
  /* bg colors */
  --light-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;
  /* others */
  --indent: 30px;
  --items: 3;
  --anim-fast: 300ms ease-in-out;
  --anim-slow: 600ms ease-out;
}

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px) scale(0.2);
            transform: translateX(-200px) scale(0.2);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(0.2);
            transform: translateX(0px) scale(0.2);
  }
  100% {
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px) scale(0.2);
            transform: translateX(-200px) scale(0.2);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(0.2);
            transform: translateX(0px) scale(0.2);
  }
  100% {
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}
.price {
  padding-top: 130px;
  padding-bottom: 130px;
}

.price__inner-item, .price__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  -webkit-animation: fade-in 800ms ease 500ms backwards alternate;
          animation: fade-in 800ms ease 500ms backwards alternate;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
}
.uppertitle--mode-light {
  color: #303030;
}
.uppertitle--mode-light::before {
  background-color: #303030;
}
.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}
.uppertitle--mode-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 42px;
  }
}
.section-title--mode-light {
  margin-bottom: 20px;
  color: #303030;
}
.section-title--mode-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-size: 18px;
  }
}

.btn {
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.btn:hover, .btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}
.btn--mode-light {
  color: var(--main-txt-cl);
}
.btn--mode-dark {
  color: var(--btn-txt-cl);
}

.slider-controls {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

.slider-btn {
  width: 60px;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: white;
  text-align: right;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.slider-btn.disabled {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.pagination {
  position: absolute;
  top: 50%;
  right: 0;
}

.pagination-item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}
.pagination-item:last-child {
  margin-bottom: 0;
}
.pagination-item.active {
  width: 18px;
  background-color: #fff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #303030;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.socials-link:hover, .socials-link:focus {
  color: #ff6c00;
}

.socials-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 600ms ease-out, visibility 600ms ease-out;
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 500px;
  min-height: 500px;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 20px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
          transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #ff6c00;
  background-color: transparent;
  cursor: pointer;
}

.register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
  text-align: center;
}

.register-form-group {
  margin-bottom: 25px;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;
}
.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  padding-left: 5px;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid #ff6c00;
  padding: 10px;
  padding-left: 50px;
  border-radius: 5px;
  outline: transparent;
}

.register-form-message {
  padding: 10px;
  height: 90px;
  resize: none;
}

.register-form-icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.register-icon-check {
  opacity: 0;
  fill: #ff6c00;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}
.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-form-agreement-text {
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}

.register-form-agreement-link {
  color: #ff6c00;
}

.register-form-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 25px;
  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 10px;
  cursor: pointer;
}

.register-form-btn-icon {
  fill: #ff6c00;
}

.contact-form {
  width: 560px;
}

.contact-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 44px;
}

.contact-form-group {
  position: relative;
  display: block;
}

.contact-form-group:first-child {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.contact-form-group:last-child {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.contact-form-input {
  width: 100%;
  height: 24px;
  padding-right: 30px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  background-color: transparent;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.contact-form-input:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-input:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}

.contact-form-input:focus,
.contact-form-input:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-input:required:valid:not(:-moz-placeholder-shown) {
  border-color: rgb(31, 109, 0);
}

.contact-form-input:required:valid:not(:-ms-input-placeholder) {
  border-color: rgb(31, 109, 0);
}

.contact-form-input:required:valid:not(:placeholder-shown) {
  border-color: rgb(31, 109, 0);
}

.contact-form-input:required:invalid:not(:-moz-placeholder-shown) {
  border-color: rgb(255, 217, 0);
}

.contact-form-input:required:invalid:not(:-ms-input-placeholder) {
  border-color: rgb(255, 217, 0);
}

.contact-form-input:required:invalid:not(:placeholder-shown) {
  border-color: rgb(255, 217, 0);
}

.contact-form-input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contact-form-input::-moz-placeholder {
  color: transparent;
  -moz-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contact-form-input:-ms-input-placeholder {
  color: transparent;
  -ms-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contact-form-input::-ms-input-placeholder {
  color: transparent;
  -ms-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contact-form-input::placeholder {
  color: transparent;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contact-form-input:focus::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus::placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast), color var(--anim-fast);
  transition: transform var(--anim-fast), color var(--anim-fast), -webkit-transform var(--anim-fast);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:not(:-moz-placeholder-shown) + .contact-form-label, .contact-form-message:not(:-moz-placeholder-shown) + .contact-form-label {
  color: #ffffff;
  transform: translateY(-15px) scale(0.8);
}

.contact-form-input:not(:-ms-input-placeholder) + .contact-form-label, .contact-form-message:not(:-ms-input-placeholder) + .contact-form-label {
  color: #ffffff;
  transform: translateY(-15px) scale(0.8);
}

.contact-form-input:focus + .contact-form-label,
.contact-form-input:not(:placeholder-shown) + .contact-form-label,
.contact-form-message:focus + .contact-form-label,
.contact-form-message:not(:placeholder-shown) + .contact-form-label {
  color: #ffffff;
  -webkit-transform: translateY(-15px) scale(0.8);
          transform: translateY(-15px) scale(0.8);
}

.contact-form-icon {
  position: absolute;
  top: 0;
  right: 5px;
}

.contact-form-warning,
.contact-form-success {
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.contact-form-warning {
  fill: rgb(255, 217, 0);
}

.contact-form-input:invalid:required:not(:-moz-placeholder-shown) ~ .contact-form-icon .contact-form-warning {
  opacity: 1;
  transform: scale(1);
}

.contact-form-input:invalid:required:not(:-ms-input-placeholder) ~ .contact-form-icon .contact-form-warning {
  opacity: 1;
  transform: scale(1);
}

.contact-form-input:invalid:required:not(:placeholder-shown) ~ .contact-form-icon .contact-form-warning {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-form-success {
  fill: rgb(31, 109, 0);
}

.contact-form-input:valid:required:not(:-moz-placeholder-shown) ~ .contact-form-icon .contact-form-success {
  opacity: 1;
  transform: scale(1);
}

.contact-form-input:valid:required:not(:-ms-input-placeholder) ~ .contact-form-icon .contact-form-success {
  opacity: 1;
  transform: scale(1);
}

.contact-form-input:valid:required:not(:placeholder-shown) ~ .contact-form-icon .contact-form-success {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-form-notfication {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 15px) scale(0.3);
          transform: translate(-50%, 15px) scale(0.3);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast);
  transition: opacity var(--anim-fast), transform var(--anim-fast), -webkit-transform var(--anim-fast);
  font-size: 9px;
  color: rgb(255, 217, 0);
  text-align: center;
}

.contact-form-input:invalid:required:not(:-moz-placeholder-shown) ~ .contact-form-notfication {
  opacity: 1;
  transform: translate(-50%, 15px) scale(1);
}

.contact-form-input:invalid:required:not(:-ms-input-placeholder) ~ .contact-form-notfication {
  opacity: 1;
  transform: translate(-50%, 15px) scale(1);
}

.contact-form-input:invalid:required:not(:placeholder-shown) ~ .contact-form-notfication {
  opacity: 1;
  -webkit-transform: translate(-50%, 15px) scale(1);
          transform: translate(-50%, 15px) scale(1);
}

.contact-form-message {
  width: 100%;
  height: 76px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.contact-form-message:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-message:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}

.contact-form-message:focus,
.contact-form-message:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-btn {
  margin-top: 44px;
}

.menu-btn {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-overlay .menu-btn {
  position: absolute;
  top: 48px;
  right: 30px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}
@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}
.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  max-width: 337px;
  height: 100%;
  background-color: #fff;
  padding: 118px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.menu-overlay.is-open .menu-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav {
  margin-bottom: 64px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts-btn {
  margin-top: 24px;
}

.mobile-link,
.mobile-contacts-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-socilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-socilas-item:not(:last-child) .mobile-socilas-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  background-color: rgb(25, 28, 38);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
}
.header--no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 40px;
  padding-bottom: 40px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 64px;
    fill: #303030;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 71px;
  }
}

.header__phone {
  margin-right: 40px;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
@media screen and (max-width: 1199px) {
  .header__phone {
    display: none;
  }
}
.header__phone:hover, .header__phone:focus {
  color: var(--accent-txt-cl);
}

@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
    margin-right: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    gap: 40px;
  }
}

.nav__link {
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ff6c00;
}

.hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  max-width: 100px;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transform: rotate(-90deg) translateY(27px);
          transform: rotate(-90deg) translateY(27px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.hero-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-right-side {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.hero-link:hover, .hero-link:focus {
  color: var(--accent-txt-cl);
}

.hero-desc {
  width: 500px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    gap: 64px;
  }
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__right-side {
  -ms-flex-preferred-size: 330px;
      flex-basis: 330px;
}
@media screen and (min-width: 1200px) {
  .about__right-side {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
}

.about__uppertitle {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .about__title {
    max-width: 330px;
  }
}

.about__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (max-width: 1199px) {
  .about-list__img {
    width: 330px;
    height: 235px;
  }
}

.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/price/img@1x_sm.png");
  background-image: -webkit-image-set(url("../images/price/img@1x_sm.webp") 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img@2x_sm.png");
    background-image: -webkit-image-set(url("../images/price/img@2x_sm.webp") 2x);
  }
}
@media screen and (min-width: 768px) {
  .price {
    background-image: url("../images/price/img@1x_md.png");
    background-image: -webkit-image-set(url("../images/price/img@1x_md.webp") 1x);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img@2x_md.png");
    background-image: -webkit-image-set(url("../images/price/img@2x_md.webp") 2x);
  }
}
@media screen and (min-width: 1200px) {
  .price {
    background-image: url("../images/price/img@1x_lg.png");
    background-image: -webkit-image-set(url("../images/price/img@1x_lg.webp") 1x);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price {
    background-image: url("../images/price/img@2x_lg.png");
    background-image: -webkit-image-set(url("../images/price/img@2x_lg.webp") 2x);
  }
}

.price__uppertitle {
  margin-bottom: 20px;
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.price__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 30px 40px;
  -webkit-transition: -webkit-transform var(--anim-slow);
  transition: -webkit-transform var(--anim-slow);
  transition: transform var(--anim-slow);
  transition: transform var(--anim-slow), -webkit-transform var(--anim-slow);
}

.price__item:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
}

.price__item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
}

.price__item:hover {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.price__inner-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price__inner-item:last-child {
  margin-bottom: 0;
}

.price__inner-item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__inner-desc:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__list {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

.benefits__item {
  width: 170px;
  min-height: 133px;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
  -webkit-box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
          box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.benefits__item:nth-child(2n+1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.benefits__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits__quantity::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ff6c00;
}

.benefits__desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.benefits__group {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin-left: auto;
}

.benefits__uppertitle {
  margin-bottom: 20px;
}

.team {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 3;
  }
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.team-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.team-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.portfolio__uppertitle {
  margin-bottom: 44px;
}

.portfolio-list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    --items: 4;
  }
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.portfolio-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 5px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.portfolio-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
  background-image: url(../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: top 0 left calc(50% + 328px);
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.contatcs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-left-side,
.contacts-group {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts-group {
  padding-left: 100px;
}

.contacts-address {
  margin-bottom: 66px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-schedule {
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-left: auto;
}
.footer-list:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.label-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}
.label-agreement__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}
.label-agreement__text--link {
  color: var(--acent-color);
}

.icon-check {
  opacity: 0;
  -webkit-transition: opasity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */