/* :root {
  fonts
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  text colors
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --btn-txt-cl: #ffffff;

  bg colors
  --light-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;

  others
  --indent: 30px;
  --items: 3;
  --anim-fast: 300ms ease-in-out;
  --anim-slow: 600ms ease-out;
} */

/* body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.no-scroll {
  overflow: hidden;
} */

/* reset styles */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/**
  |============================
  | Card set
  |============================
*/
/* .card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
} */

/* base styles */
/* .section {
  padding-top: 130px;
  padding-bottom: 130px;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
}
.uppertitle--mode-light {
  color: #303030;
}
.uppertitle--mode-light::before {
  background-color: #303030;
}
.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}
.uppertitle--mode-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: #ffffff;

  animation: fade-in 800ms ease 500ms backwards alternate;
  transform-origin: left center;
} */

/* @keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.2);
  }
  25% {
    opacity: 1;
    transform: translateX(0px) scale(0.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
} */

/* .section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.section-title--mode-light {
  margin-bottom: 20px;
  color: #303030;
}
.section-title--mode-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.section-subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
} */

/* .btn {
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.btn:hover,
.btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}
.btn--mode-light {
  color: var(--main-txt-cl);
}
.btn--mode-dark {
  color: var(--btn-txt-cl);
} */

/**
  |============================
  | Header section
  |============================
*/
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
}

.header--no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  backdrop-filter: blur(4px);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 71px;
} */

/* .nav {
  margin-right: auto;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: #ffffff;

  transition: color var(--anim-fast);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: #ff6c00;
} */

/* .header__phone {
  margin-right: 40px;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: #ffffff;

  transition: color var(--anim-fast);
}

.header__phone:hover,
.header__phone:focus {
  color: var(--accent-txt-cl);
} */

/**
  |============================
  | Hero section
  |============================
*/
/* .hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero-container {
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  flex-basis: 100px;
  max-width: 100px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;

  transform: rotate(-90deg) translateY(27px);
  transform-origin: top left;
}

.hero-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-right-side {
  position: relative;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  transition: color var(--anim-fast);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-txt-cl);
}

.hero-desc {
  width: 500px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
} */

/* slider elements */
/* .slider-controls {
  position: absolute;
  right: 0;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 26px;
}
.slider-btn {
  width: 60px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: white;
  text-align: right;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.slider-btn.disabled {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.pagination {
  position: absolute;
  top: 50%;
  right: 0;
}

.pagination-item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.pagination-item:last-child {
  margin-bottom: 0;
}

.pagination-item.active {
  width: 18px;
  background-color: #fff;
} */

/**
  |============================
  | About section
  |============================
*/

/* .about__container {
  display: flex;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about__right-side {
  margin-left: 64px;
  flex-basis: 500px;
}

.about__uppertitle {
  margin-bottom: 20px;
}

.about__desc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555555;
} */
/**
  |============================
  | Price section
  |============================
*/
/* .price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price__uppertitle {
  margin-bottom: 20px;
}

.price__list {
  display: flex;
  margin-bottom: 50px;

  perspective: 1000px;
}

.price__item {
  flex-basis: 50%;
  padding: 30px 40px;

  transition: transform var(--anim-slow);
}

.price__item:nth-child(1) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  transform-origin: left center;
  transform: rotateY(15deg);
}
.price__item:nth-child(2) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  transform-origin: right center;
  transform: rotateY(-15deg);
}

.price__item:hover {
  transform: rotateY(0);
}

.price__inner-item {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 6px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price__inner-item:last-child {
  margin-bottom: 0;
}

.price__inner-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__inner-desc:first-child {
  order: -1;
}

.price__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/**
  |============================
  | Benefits section
  |============================
*/
/* .benefits__container {
  display: flex;
}

.benefits__list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
}

.benefits__item {
  width: 170px;
  min-height: 133px;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;

  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.benefits__item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.benefits__quantity {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits__quantity::after {
  content: '\002B';

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #ff6c00;
}

.benefits__desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: #303030;
}

.benefits__group {
  flex-basis: 500px;
  margin-left: auto;
}

.benefits__uppertitle {
  margin-bottom: 20px;
} */
/**
  |============================
  | Team section
  |============================
*/
/* .team {
    @include section;
  background-color: #f7f7f7;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.team-item {
  flex-basis: calc((100% - 30px * 4) / 5);
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.team-subtitle {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.team-desc {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
} */
/**
  |============================
  | Portfolio section
  |============================
*/
/* .portfolio-list {
  --items: 4;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  transition: box-shadow var(--anim-fast);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 40px 5px;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);

  transition: transform 500ms ease-in-out;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  user-select: none;
} */

/**
  |============================
  | Contacts section
  |============================
*/
/* .contacts {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: #191c26;

  background-image: url(../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: top 0 left calc(50% + 328px);
}

.contatcs-container {
  display: flex;
}

.contacts-left-side,
.contacts-group {
  flex-basis: 50%;
}
.contacts-group {
  padding-left: 100px;
}

.contacts-address {
  margin-bottom: 66px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-schedule {
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
} */

/* contacts form */
/* .contact-form {
  width: 560px;
}
.contact-form-wrap {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-bottom: 44px;
}

.contact-form-group {
  position: relative;
  display: block;
}

.contact-form-group:first-child {
  flex-basis: 270px;
}
.contact-form-group:last-child {
  flex-basis: 260px;
}

.contact-form-input {
  width: 100%;
  height: 24px;
  padding-right: 30px;

  font-size: 12px;
  color: #ffffff;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  background-color: transparent;

  transition: border-color var(--anim-fast);
}

.contact-form-input:focus,
.contact-form-input:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-input:required:valid:not(:placeholder-shown) {
  border-color: rgb(31, 109, 0);
}
.contact-form-input:required:invalid:not(:placeholder-shown) {
  border-color: rgb(255, 217, 0);
}

.contact-form-input::placeholder {
  color: transparent;
  transition: color var(--anim-fast);
}

.contact-form-input:focus::placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-label {
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: top left;
  transition: transform var(--anim-fast), color var(--anim-fast);

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:focus + .contact-form-label,
.contact-form-input:not(:placeholder-shown) + .contact-form-label,
.contact-form-message:focus + .contact-form-label,
.contact-form-message:not(:placeholder-shown) + .contact-form-label {
  color: #ffffff;
  transform: translateY(-15px) scale(0.8);
}

.contact-form-icon {
  position: absolute;
  top: 0;
  right: 5px;
}

.contact-form-warning,
.contact-form-success {
  opacity: 0;
  transform: scale(0.4);
  transform-origin: center;

  transition: opacity var(--anim-fast), transform var(--anim-fast);
}

.contact-form-warning {
  fill: rgb(255, 217, 0);
}

.contact-form-input:invalid:required:not(:placeholder-shown)
  ~ .contact-form-icon
  .contact-form-warning {
  opacity: 1;
  transform: scale(1);
}

.contact-form-success {
  fill: rgb(31, 109, 0);
}

.contact-form-input:valid:required:not(:placeholder-shown)
  ~ .contact-form-icon
  .contact-form-success {
  opacity: 1;
  transform: scale(1);
}

.contact-form-notfication {
  display: inline-block;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 15px) scale(0.3);
  transform-origin: center;
  opacity: 0;
  transition: opacity var(--anim-fast), transform var(--anim-fast);

  font-size: 9px;
  color: rgb(255, 217, 0);
  text-align: center;
}

.contact-form-input:invalid:required:not(:placeholder-shown) ~ .contact-form-notfication {
  opacity: 1;
  transform: translate(-50%, 15px) scale(1);
}

.contact-form-message {
  width: 100%;
  height: 76px;

  font-size: 12px;
  color: #ffffff;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;

  transition: border-color var(--anim-fast);
}

.contact-form-message:focus,
.contact-form-message:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contact-form-btn {
  margin-top: 44px;
} */
/**
  |============================
  | Footer section
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.footer-list:before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #303030;
}

/**
  |============================
  | Socials icons
  |============================
*/
/* .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: #303030;
  background-color: #ffffff;
  border-radius: 50%;

  transition: 300ms ease;
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
}

.socials-icon {
  fill: currentColor;
} */

/**
  |============================
  | Modal window
  |============================
*/
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 500px;
  min-height: 500px;
  padding: 50px 30px;

  background-color: #fff;
  border-radius: 20px;

  opacity: 1;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid #ff6c00;
  background-color: transparent;
  cursor: pointer;
} */

/**
  |============================
  | Modal form
  |============================
*/
/* .register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 25px;

  font-size: 18px;
  text-align: center;
}

.register-form-group {
  margin-bottom: 25px;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;
}

.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  padding-left: 5px;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid #ff6c00;
  padding: 10px;
  padding-left: 50px;
  border-radius: 5px;

  outline: transparent;
}

.register-form-message {
  padding: 10px;
  height: 90px;
  resize: none;
}

.register-form-icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

.register-icon-check {
  opacity: 0;
  fill: #ff6c00;
  transition: opacity var(--anim-fast);
}

.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-form-agreement-text {
  font-size: 14px;
  user-select: none;
  text-underline-position: under;
}

.register-form-agreement-link {
  color: #ff6c00;
}

.register-form-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 25px;

  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 10px;

  cursor: pointer;
}

.register-form-btn-icon {
  fill: #ff6c00;
} */
