// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/animations';
@import './utils/placeholders';
@import './utils/mixins';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/card-set';
@import './components/container';

// замінили на mixin
// @import './components/section';

@import './components/titles';
@import './components/buttons';
@import './components/slider';
@import './components/socials';
@import './components/modal-window';
@import './components/modal-form';
@import './components/contacts-form';

// layout styles
@import './layout/header';
@import './layout/nav';
@import './layout/hero';
@import './layout/about';
@import './layout/price';
@import './layout/benefits';
@import './layout/team';
@import './layout/portfolio';
@import './layout/contacts';
@import './layout/footer';

.label-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: #757575;

    user-select: none;
    text-underline-position: under;
  }
  &__text--link {
    color: var(--acent-color);
  }
}

.icon-check {
  opacity: 0;
  transition: opasity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
