.price {
  @extend %section;

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // mobile screen
  background-image: url('../images/price/img@1x_sm.png');
  background-image: -webkit-image-set(url('../images/price/img@1x_sm.webp') 1x);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/price/img@2x_sm.png');
    background-image: -webkit-image-set(url('../images/price/img@2x_sm.webp') 2x);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: url('../images/price/img@1x_md.png');
    background-image: -webkit-image-set(url('../images/price/img@1x_md.webp') 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/price/img@2x_md.png');
      background-image: -webkit-image-set(url('../images/price/img@2x_md.webp') 2x);
    }
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url('../images/price/img@1x_lg.png');
    background-image: -webkit-image-set(url('../images/price/img@1x_lg.webp') 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/price/img@2x_lg.png');
      background-image: -webkit-image-set(url('../images/price/img@2x_lg.webp') 2x);
    }
  }
}

.price__uppertitle {
  margin-bottom: 20px;
}

.price__list {
  @extend %reset-list;

  display: flex;
  margin-bottom: 50px;

  perspective: 1000px;
}

.price__item {
  flex-basis: 50%;
  padding: 30px 40px;

  transition: transform var(--anim-slow);
}

.price__item:nth-child(1) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  transform-origin: left center;
  transform: rotateY(15deg);
}
.price__item:nth-child(2) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  transform-origin: right center;
  transform: rotateY(-15deg);
}

.price__item:hover {
  transform: rotateY(0);
}

.price__inner-item {
  @extend %reset-list;

  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 6px;

  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price__inner-item:last-child {
  margin-bottom: 0;
}

.price__inner-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price__inner-desc:first-child {
  order: -1;
}

.price__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
