.register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 25px;

  font-size: 18px;
  text-align: center;
}

.register-form-group {
  margin-bottom: 25px;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.register-form-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  padding-left: 5px;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid #ff6c00;
  padding: 10px;
  padding-left: 50px;
  border-radius: 5px;

  outline: transparent;
}

.register-form-message {
  padding: 10px;
  height: 90px;
  resize: none;
}

.register-form-icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.register-icon-uncheck {
  .register-checkbox:checked + .register-icon & {
    opacity: 0;
    transition: opacity var(--anim-fast);
  }
}

.register-icon-check {
  opacity: 0;
  fill: #ff6c00;
  transition: opacity var(--anim-fast);

  .register-checkbox:checked + .register-icon & {
    opacity: 1;
  }
}

.register-form-agreement-text {
  font-size: 14px;
  user-select: none;
  text-underline-position: under;
}

.register-form-agreement-link {
  color: #ff6c00;
}

.register-form-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 25px;

  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 10px;

  cursor: pointer;
}

.register-form-btn-icon {
  fill: #ff6c00;
}
