@import './decimals';

@mixin section($padding: 130px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin fonts($fs, $lh, $fw: 400, $ls: 0.02em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}
